<!DOCTYPE html>
<html>

<head>
	<title>MyRobot</title> 
	<meta name=viewport content="width=device-width, user-scalable=no">
	<link rel=icon type=image/png href={{ url_for('static', filename='favicon.ico') }}>
	<link rel=apple-touch-icon href={{ url_for('static', filename='appleicon.png') }} />
	<link rel=stylesheet href={{ url_for('static', filename='jquery.mobile-1.4.5.min.css') }}/>
	<link rel=stylesheet href={{ url_for('static', filename='style.css') }}/>
	<script src={{ url_for('static', filename='jquery-1.11.3.min.js') }}></script>
	<script src={{ url_for('static', filename='jquery.mobile-1.4.5.min.js') }}></script>
	<script src={{ url_for('static', filename='jquery.autoheight.js') }}></script>
</head>


<body>
<div data-role="page" id="MyRobot">

	<!--header-->
	<div data-role=header>
		<h1>Interface du robot</h1>
		{% set adresse = ['http://', ip, ':5000/logout']|join %}
		<a href="{{adresse}}" data-icon="delete" class="ui-btn-right">Se déconnecter</a>
	</div>
	
	<!--content-->
	<div data-role="content">
		
	<table>
	<tbody>
	<tr>
		<td>
		<ul data-role="listview" data-inset=true data-filter=false>
			<li data-role="list-divider"><div class=centrer>ENTREES</div></li>
			{% for i in ['i0', 'i1', 'i2', 'i3', 'i4', 'i5', 'i6', 'i7'] %}
				<li><div class=centrer>
				{% if i == 'i0' %}
					{% set name = "V1 IN" %}
				{% elif i == 'i1' %}
					{% set name = "V1 OUT" %}
				{% elif i == 'i2' %}
					{% set name = "V2 IN" %}	
				{% elif i == 'i3' %}
					{% set name = "V2 OUT" %}
				{% elif i == 'i4' %}
					{% set name = "Electronic meter reached" %}	
				{% elif i == 'i5' %}
					{% set name = "Start" %}	
				{% elif i == 'i6' %}
					{% set name = "Cycle" %}	
				{% elif i == 'i7' %}
					{% set name = "Emergency stop" %}
				{% endif %}
				<p class=centrer>{{name}}</p>			
				<select data-role=slider disabled="disabled">						
				{% set selected = '' %}									
				{% if data[i] == 1 %}
					{% set selected="selected" %}											
				{% endif %}
					<option >off</option>
					<option {{selected}}>on</option>
				</select>
				</div></li>
			{%endfor%}
		</ul>	
		</td>

		<td>
		<ul data-role="listview" data-inset=true data-filter=false>
			<li data-role="list-divider"><div class=centrer>SORTIES</div></li>
			{% for i in ['o0', 'o1', 'o2', 'o3', 'o4', 'o5', 'o6', 'o7'] %}
				<li><div class=centrer>
				{% if i == 'o0' %}
					{% set name = "Action V1" %}
				{% elif i == 'o1' %}
					{% set name = "Action V2" %}
				{% elif i == 'o2' %}
					{% set name = "To decrement e meter" %}	
				{% elif i == 'o3' %}
					{% set name = "To reset e meter" %}
				{% elif i == 'o4' %}
					{% set name = "Cycle finished" %}	
				{% elif i == 'o5' %}
					{% set name = "Cycle running" %}	
				{% elif i == 'o6' %}
					{% set name = "Cycle init" %}	
				{% elif i == 'o7' %}
					{% set name = "Emergency stop" %}
				{% endif %}
			<p class=centrer>{{name}}</p>
				<select data-role=slider disabled="disabled">						
				{% set selected = '' %}									
				{% if data[i] == 1 %}
					{% set selected="selected" %}											
				{% endif %}
					<option >off</option>
					<option {{selected}}>on</option>
				</select>
				</div></li>
			{%endfor%}
		</ul>			
		</td>

		<td>
		<ul data-role="listview" data-inset=true data-filter=false>
			<li data-role="list-divider"><div class=centrer>CONTROLES</div></li>
			{% for i in ['echange'] %}
				<li><div class=centrer>
				<p class=centrer>Network Socket</p>
				<select data-role=slider disabled="disabled">						
				{% set selected = '' %}									
				{% if data[i] == 1 %}
					{% set selected="selected" %}											
				{% endif %}
					<option >down</option>
					<option {{selected}}>up</option>
				</select>
				</div></li>
			{%endfor%}
			<li><div class=centrer>
				<p class=centrer>Number Cycle</p>{{data['compteur']}}
			</div></li>
		</ul>
		</td>
	</tr>
	</tbody>			
	</table>

	<!--footer-->
	<div data-role="footer">
		<h4>MyRobot - franckSalle.fr</h4>
	</div>		
</div>	
</body>

</html>

{% set adresse = ['http://', ip, ':5000/accueil']|join %}
<script>
	function refreshMe() {
		window.location.replace("{{adresse}}");	  
	}
	setInterval(refreshMe, 10000);
</script>
