<!DOCTYPE html>
<html>

<head>
	<title>MyRobot</title> 
	<meta name=viewport content="width=device-width, user-scalable=no">
	<link rel=icon type=image/png href={{ url_for('static', filename='favicon.ico') }}>
	<link rel=apple-touch-icon href={{ url_for('static', filename='appleicon.png') }} />
	<link rel=stylesheet href={{ url_for('static', filename='jquery.mobile-1.4.5.min.css') }}/>
	<link rel=stylesheet href={{ url_for('static', filename='style.css') }}/>
	<script src={{ url_for('static', filename='jquery-1.11.3.min.js') }}></script>
	<script src={{ url_for('static', filename='jquery.mobile-1.4.5.min.js') }}></script>
	<script src={{ url_for('static', filename='jquery.autoheight.js') }}></script>
	<script> $( document ).ready(function() {$( "#login" ).focus();}); </script>
</head>

<body>
	<div data-role=dialog data-title="MyRobot">
		<!--header-->
		<div data-role=header>
			<h1>Interface du robot</h1>
		</div>
		<!--content-->
		<div data-role=content>
			<div class="centrer">
				<img  src={{ url_for('static', filename='logo.png') }}>
				{% set adresse = ['http://', ip, ':5000']|join %}
				<form action="{{adresse}}" method=post>
					<input id=login name=user type=password required>						
				</form>
			</div>
		</div>
		<!--footer-->
		<div data-role=footer>
			<h4>MyRobot - franckSalle.fr</h4>
		</div>		
</body>

